body
{
	font-family: 'Raleway', sans-serif;
}

h1
{
	font-size: 1.34em;
}

h2
{
	font-size: 1.2em;
}
/* Header */

header
{
	margin-left: 42px;
}
/* Navigation */

nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	nav ul
	{
		display: flex;
	}

	nav li
	{
		margin-right: 67px;
		list-style-type: none;
	}

	nav a
	{
		display: block;
    	text-decoration: none;
    	color: black;
	}

	nav a:hover
	{
		color: #0065FC;
    	border-top: 2px #0065FC solid;
	}

/*Recherche*/

#search
{
	display: flex;
}

	.fa-map-marker
	{
		border: 10px #F2F2F2 solid;
		background-color: #F2F2F2;
		border-radius: 15px 0px 0px 15px;
	}
	.boutonrecherche
	{
		border : 2px #0065FC solid;
		background-color: #0065FC;
		color: white;
		border-radius: 0px 15px 15px 0px;
		width: 150px;
		height: 51px;
		font-size: 1.1em;
		cursor: pointer;
	}

	.champrecherche
	{
		border-top: 2px #F2F2F2 solid;
		border-bottom: 2px #F2F2F2 solid;
		border-left: none;
		border-right: none;
		width: 232px;
		height: 51px;
	}

	input::placeholder
	{
		color: black;
		font-weight: bold;
		font-size: 1.4em;
	}

	.icon2
	{
		background-color: #F2F2F2;
		border-radius: 15px 0px 0px 15px;
		width: 3%;
    	line-height: 305%;
		text-align: center;
	}

/* Filtres */

#filtres
{
  display: flex;
  align-items: center;
}

    #filtres ul
     {
       display: flex;
       flex-wrap: wrap;
     }

    #filtres li
     {
       display: flex;
       align-items: center;
       list-style-type: none;
       border: 3px #F2F2F2 solid;
       border-radius: 40px;
       margin: 5px 10px 0px 0px;
       padding: 0px 20px 0px 0px;
     }

    #filtres a
    {
	    text-decoration: none;
		color: black;
		font-weight: bold;
    }

    #filtres i
    {
    	color:#0065FC; 
	    border: 2px #DEEBFF solid;
	    border-radius: 30px;
	    background-color: #DEEBFF;
        margin-right: 20px;
        padding: 22px 10px;
      
    }

	#filtres li:hover
	{
		background-color: #F2F2F2;
		cursor: pointer;
	}

	/*info*/

.iconinfo
{
  display: flex;
  align-items: center;
  margin-top: 7px;
}

	.iconinfo i
	{
  	border: 2px #F2F2F2 solid;
  	width: 20px;
  	height: 20px;
  	color: #0065FC;
  	border-radius: 50px;
  	margin-right: 8px;
  	text-align: center;
  	line-height: 18px;
	}

/* MAIN */

main
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

/* Section */

section
{
	margin-top: 22px;
}

#hebergements
{
  border: 3px solid #F2F2F2;
  border-radius: 20px;
  background-color: #F2F2F2;
  width: 60.3%;
  height: 803px;
}

	#hebergements h2
	{
		padding-top: 23px;
		padding-left: 37px;
	}

	.attente
	{
	display: flex;
	justify-content: space-around;
	}

	.hotel2
	{
 	flex-direction: column;
  	justify-content: space-around;
	}

	.title2
	{
	display: flex;
	justify-content: space-around;
	align-items: center;
	}

/* CARD */

.card
{
  	position: relative;
	margin: 15px;
  	border: 4px white solid;
  	background-color: white;
  	border-radius: 25px;
  	height: 258px;
  	width: 27.3%;
	box-shadow: 0px 10px 13px 10px #ECECEC, 5px 9px 14px -2px rgba(0,0,0,0);
}

	.card a
	{
  	text-decoration: none;
  	color: black;
	}

	.card-image img
	{
  	border-radius: 25px 25px 0px 0px;
  	width: 100%;
  	height: 154px;
  	object-fit: cover;
	}

	.card-body
	{
		padding-left: 16px;
		line-height: 7px;
	}

	.fa-star
	{
		color: #0065FC;
	}

/* CARD 2 */

#populaires
{
    display: flex;
    flex-direction: column;
	justify-content: space-around;
  	border: 3px solid #F2F2F2;
  	border-radius: 20px;
  	background-color: #F2F2F2;
  	width: 32%;
  	height: 803px;
}

	.title2
	{
 	display: flex;
  	justify-content: space-around;
  	align-items: center;
	}

	.card2
	{
		margin: auto;
		border: 4px white solid;
 		background-color: white;
		border-radius: 25px;
		height: 192px;
 		width: 73%;
		box-shadow: 0px 10px 13px 10px #ECECEC, 5px 9px 14px -2px rgba(0,0,0,0);
	}

	.card2 a
	{
	text-decoration: none;
	color: black;
	}

	.card-body2
	{
	display: flex;
	}

	#populaires img
	{
 	border-radius: 25px 0px 0px 25px;
 	width: 37.8%;
 	height: 191px;
 	object-fit: cover;
	}

	.card-title2
	{
	margin-left: 15px;
	}

	.card-title2 p
	{
	line-height: 0px;
	}

	.etoiles2
	{
	line-height: 95px;
	}

	.grise
	{
	color: #E2E2E2;
	}

	.bleu
	{
	color: #0065FC;
	}

/*Activités à Marseille*/

#section_activites
{
	margin-top: 50px;
}

	#section_activites h2
	{
		margin-left: 42px;
	}

	.activites
	{
  	display: flex;
  	justify-content: space-around;
	}

	.activites h3
	{
		padding-left: 20px;
	}

	.carte1
	{
		background-color: #FFFFFF;
		box-shadow: 0px 10px 13px 1px #ECECEC, 5px 9px 14px -2px rgba(0,0,0,0);
		border-radius: 25px;
		width: 22.4%;
		height: 639px;
	}

		.carte1 img
		{
			width: 100%;
			height: 577px;
			object-fit: cover;
			border-radius: 25px 25px 0px 0px;
		}

		.carte2
		{
			width: 100%;
			height: 276px;
			background-color: #FFFFFF;
			border-radius: 25px;
			box-shadow: 0px 10px 13px 1px #ECECEC, 5px 9px 14px -2px rgba(0,0,0,0);
		}

		.carte2 img
		{
			width: 100%;
			height: 211px;
			object-fit: cover;
			border-radius: 25px 25px 0px 0px;
		}

		.hotelvertical
		{
      		display: flex;
      		flex-direction: column;
      		justify-content: space-between;
      		width: 22.4%;
		}

		.activites a
		{
			text-decoration: none;
			color: black;
		}

/* Footer */

footer
{
	position: absolute;
	bottom: -210px;
  	background-color: #F2F2F2;
  	display: flex;
    justify-content: space-around;
	width: 100%;
}

footer a
{
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 992px) /*Pour Téléphone Portable */

{
	body
	{
		background-color: red;
	}
}